@media (max-width: 991px){
    .main_menu{
        display: none;
    }

    .logo{
        text-align: center;
        margin-bottom: 30px;
    }

    .logo img{
        width: 40%;
    }

    .hamburger_wraper{
        display: inline-block;
    }

    .header_info_text, .header_info_adress{
        text-align: center;
        font-size: 22px;
    }

    .mobail_lang{
        display: block;
    }

    .servise_img{
        display: none;
    }

    footer{
        font-size: 20px;
    }

    .first_news{
        width: 100%;
        padding-bottom: 5px;
    }

    .news_item, .news_more{
        width: 50%;
    }
}

@media (max-width: 860px){
 
}


@media (max-width: 767px){
    .main_slider .owl-dots {
        position: relative;
        text-align: center;
        margin-top: 20px;
        bottom: 0;
        right: 0;
    }

    .main_slider button.owl-dot {
        border: 5px solid #888888;
    }

    .main_slider button.owl-dot.active{
        border: 5px solid #888888;
        background: #888888;
    }
}

@media (max-width: 500px){
    
}




